/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0 40px;
  font-size: 14px;
  font-size: 0.8em;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  padding-top: 20px;
}

h1, h2, h3, h4 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2em;
}



.logo-container {
  float: right;
  margin-bottom: 5px;
  max-width: 60%;
  width: 250px;
}

img {
  max-width: 100%;
}

/*
.page-nav {
  float:right;
}

.page-nav span {
  margin-left: 10px;
}
.page-nav span:hover {
  cursor: pointer;
  color: #120041;
}
#main-add {
  display: none;
}
.editmode #main-add {
  display: inline-block;
}
*/


/*
* styles for common input component
*/

input.searchbar {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #666164;

    width: 100%;
    padding: 5px 15px;
    -webkit-appearance: none;
    border-radius: 10px;
    border: 1px solid #B7B1B5;
    box-sizing: border-box;
}

.searchbar:focus {
  outline: none;
  border: 1px solid #666164;
}


.input-icon {
    margin: 12px 8px;
    color: #371C16;
    border-radius: 0;
    box-shadow: none !important;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s
}

.input-icon.active, .input-icon:hover {
    opacity: 0.4;
}


#add-button {
  margin: 12px 8px;
  background-color: #371C16;
  font-size: 2em;
  text-align: center;
  float: right;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s
}

#add-button:hover {
  opacity: 0.4;
}

#add-button span {
  color: #fff;
  margin-top: -4px;
  display: block;
}


/*
* styles for MAIN CONTENT area
*/

.list-container h3 {
  font-size: 0.9em;
  color: #A69590;
  padding-top: 15px;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #A69590 50%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 4px 2px;
  background-repeat: repeat-x;

}

ul.list {
    list-style: none;
    padding: 0;
    position: relative;
    margin-top: 0;
}

.list li, .tingle-modal-box h3 {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px 3px;
  width: calc(20% - 6px);
  background: #F6F6F7;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

.code-badge{
  background-color: #2E2525;
  color: #fff;
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50%;
  padding: 7px;
  margin-right: 7px;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  display: inline-block;
  box-sizing: border-box;
}


img.close-img {
  display: none;
  float: right;
  width: 20px;
  cursor: pointer;
}

.editmode img.close-img {
  display: block;
}


.tingle-modal {
  background: rgba(0,0,0,.5);
}

.tingle-modal-box {
  background: #F6F6F7;
  width: 75%;
}


.tingle-modal-box h3 {
  font-size: 1.5em;
  padding: 0;
  margin: 0 5px;
  width: auto;
  cursor: auto;
}
.tingle-modal-box .code-badge {
  font-size: 0.6em;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
  body {
    font-size: 16px;
    font-size: 1em;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
